{% extends "base.html" %}

{% block content %}
<a href="/get_logs"><button class='button'>Get Logs</button></a>
<a href=# id="vm_status"><button class='button'>(re)Populate VMs</button></a>
<div class="select" >
  <select id="vms-selection" >
    <option value="not selected">Select VM</option>
  </select>
</div>
<a href=# id="start_vm"><button class='button controlled' disabled>Turn On</button></a>
<a href=# id="shutdown_vm"><button class='button controlled' disabled>Shut Down</button></a>
<a href=# id="poweroff_vm"><button class='button controlled' disabled>Power Off</button></a>
<a href=# id="reset_vm"><button class='button controlled' disabled>Reset</button></a>
<a href=# id="backup_vm"><button class='button controlled' disabled>Run Backup</button></a>
{% endblock %}

{% block logfile_display %}
<div class="container">
	<div class="columns is-centered is-mobile">	
		<div class="column is-dark notification is-four-fifths">
            <div class="is-size-7 has-text-warning" id="display">
                <ul id="display_list">
                  <li class="has-text-grey-light">Application log messages generated while the web console is open go here</li>
                </ul>
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var source = new EventSource("/log");
	source.onmessage = function(event) {
		// $('#display').prepend(event.data);
		$('#display_list').prepend('<li>'+event.data+'</li>');
		if(event.data == 100){
        source.close()
      }
    }

    $(function() {
      $('a#backup_vm').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/backup_vm?vm=' + $("#vms-selection option:selected").text(),
            function(data) {
          //do nothing
        });
        return false;
      });
    });


    $(function() {
      $('a#reset_vm').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/reset_vm?vm=' + $("#vms-selection option:selected").text(),
            function(data) {
          //do nothing
        });
        return false;
      });
    });


    $(function() {
      $('a#poweroff_vm').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/poweroff_vm?vm=' + $("#vms-selection option:selected").text(),
            function(data) {
          //do nothing
        });
        return false;
      });
    });


    $(function() {
      $('a#shutdown_vm').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/shutdown_vm?vm=' + $("#vms-selection option:selected").text(),
            function(data) {
          //do nothing
        });
        return false;
      });
    });


    $(function() {
      $('a#start_vm').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/start_vm?vm=' + $("#vms-selection option:selected").text(),
            function(data) {
          //do nothing
        });
        return false;
      });
    });


    $(function() {
      $('a#vm_status').on('click', function(e) {
        e.preventDefault();
        $.getJSON('/vm_status',
            function(vms) {
              $('#vms-selection').empty()
              $('#vms-selection').append('<option value="not selected">Select VM</option>')
              for (var vm of Object.keys(vms)) {
                $('#vms-selection')
                    .append(`<option value="${vm}">${vm}</option>`);
                }
        });
        return false;
      });
    });

    $('#vms-selection').change(function(){
      if ($(this).val().indexOf("not selected") ===-1){
          $(function(){
            $("button.controlled").attr("disabled", false);
          });
        } 
      else{
        $(function(){
            $("button.controlled").attr("disabled", true);
          });
        }       
      });

</script>
{% endblock %}